# Importing libraries

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import pandas_profiling as pp
from pandas_profiling import ProfileReport

In [ ]:
# Using path method to import data
"C:\Users\Peter\Desktop\Data Analytics documents\Data Immersion\Achievement 4\09-2020 Instacart Basket Analysis"

In [2]:
path = r"C:\Users\Peter\Desktop\Data Analytics documents\Data Immersion\Achievement 4\09-2020 Instacart Basket Analysis"

In [3]:
path

'C:\\Users\\Peter\\Desktop\\Data Analytics documents\\Data Immersion\\Achievement 4\\09-2020 Instacart Basket Analysis'

In [4]:
# imported small pkl file
small = pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','Exclusive_flag.pkl'))

In [5]:
small.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,department_id,Spender_flag,frequency_flag,STATE,Age,number_of_dependants,income,Region
6,550135,1,7,1,9,7,Low spender,Non-frequent customer,Alabama,31,3,40423,Region_3
19,2295261,1,9,1,16,19,Low spender,Non-frequent customer,Alabama,31,3,40423,Region_3
28,431534,1,5,4,15,19,Low spender,Non-frequent customer,Alabama,31,3,40423,Region_3
31,3108588,1,8,1,14,19,Low spender,Non-frequent customer,Alabama,31,3,40423,Region_3
42,3367565,1,6,2,7,16,Low spender,Non-frequent customer,Alabama,31,3,40423,Region_3

In [6]:
small.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7322981 entries, 6 to 32404850
Data columns (total 13 columns):
 #   Column                Dtype
---  ------                -----
 0   order_id              int32
 1   user_id               int32
 2   order_number          int8
 3   orders_day_of_week    int8
 4   order_time_of_day     int8
 5   department_id         int8
 6   Spender_flag          object
 7   frequency_flag        object
 8   STATE                 object
 9   Age                   int8
 10  number_of_dependants  int8
 11  income                int32
 12  Region                object
dtypes: int32(3), int8(6), object(4)
memory usage: 405.1+ MB

In [7]:
# dropping some columns in the dataframe
small.drop(columns = {'Spender_flag','frequency_flag','STATE','Region'}, inplace = True)

In [8]:
small.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7322981 entries, 6 to 32404850
Data columns (total 9 columns):
 #   Column                Dtype
---  ------                -----
 0   order_id              int32
 1   user_id               int32
 2   order_number          int8
 3   orders_day_of_week    int8
 4   order_time_of_day     int8
 5   department_id         int8
 6   Age                   int8
 7   number_of_dependants  int8
 8   income                int32
dtypes: int32(3), int8(6)
memory usage: 181.6 MB

In [5]:
# Exporting small dataframe as csv to my prepared data folder to be use in the Colab for data profiling.
small.to_csv(os.path.join(path, '02 Data','Prepared Data', 'Exclusive_flag.csv'))

In [9]:
Profile = ProfileReport(small, title = 'Customers Profiling Report')