# Importing libraries

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

# Importing data

In [ ]:
# Using path method to import the order_products_combined 
"C:\Users\Peter\Desktop\Data Analytics documents\Data Immersion\Achievement 4\09-2020 Instacart Basket Analysis"

In [2]:
path = r"C:\Users\Peter\Desktop\Data Analytics documents\Data Immersion\Achievement 4\09-2020 Instacart Basket Analysis"

In [3]:
path

'C:\\Users\\Peter\\Desktop\\Data Analytics documents\\Data Immersion\\Achievement 4\\09-2020 Instacart Basket Analysis'

In [4]:
# imported the order_products_combined pkl file
df_orders_products_combined = pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_combined.pkl'))

In [5]:
df_orders_products_combined.shape

(32434489, 10)

In [6]:
# imported the products_checked csv file
df_products_checked = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

# Performing merging steps

In [7]:
# checking the shape of the imported dataframe
df_products_checked.shape

(49672, 6)

In [8]:
# checking the data type
df_products_checked.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     49672 non-null  int64
 1   product_id     49672 non-null  int64
 2   product_name   49672 non-null  object
 3   aisle_id       49672 non-null  int64
 4   department_id  49672 non-null  int64
 5   prices         49672 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 2.3+ MB

In [9]:
# Change types for df_products_checked dataframe
df_products_checked['Unnamed: 0']=df_products_checked['Unnamed: 0'].astype('int8')
df_products_checked['product_id']=df_products_checked['product_id'].astype('int32')
df_products_checked['aisle_id']=df_products_checked['aisle_id'].astype('int8')
df_products_checked['department_id']=df_products_checked['department_id'].astype('int8')
df_products_checked['prices']=df_products_checked['prices'].astype('float16')

In [10]:
df_products_checked.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     49672 non-null  int8
 1   product_id     49672 non-null  int32
 2   product_name   49672 non-null  object
 3   aisle_id       49672 non-null  int8
 4   department_id  49672 non-null  int8
 5   prices         49672 non-null  float16
dtypes: float16(1), int32(1), int8(3), object(1)
memory usage: 824.8+ KB

In [11]:
# dropping some column
df_products_checked.drop(columns = {'Unnamed: 0'}, inplace = True)

In [12]:
df_products_checked.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices'], dtype='object')

In [13]:
df_products_checked.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int32
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int8
 3   department_id  49672 non-null  int8
 4   prices         49672 non-null  float16
dtypes: float16(1), int32(1), int8(2), object(1)
memory usage: 776.2+ KB

In [14]:
df_orders_products_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Data columns (total 10 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   order_time_of_day       int8
 5   days_since_prior_order  float16
 6   product_id              int32
 7   add_to_cart_order       int32
 8   reordered               int8
 9   _merge                  category
dtypes: category(1), float16(1), int32(4), int8(4)
memory usage: 958.9 MB

# Merging operation

In [15]:
# Merging the df_orders_product_combined with the df_prodcuts_checked
df_OPC_and_PC_merged = df_orders_products_combined.merge(df_products_checked, on = 'product_id')

In [16]:
df_OPC_and_PC_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0
1,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0
2,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0
3,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0
4,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0

In [17]:
# using the value counts to see how the merge where performed
df_OPC_and_PC_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [18]:
# using the argument how = outer
df_OPC_and_PC_merged['_merge'].value_counts(dropna = False)

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

# Exporting file

In [19]:
# exporting the df_OPC_and_PC_merged as Pickle
df_OPC_and_PC_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))