# Importing libraries

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [ ]:
# Using path method to import the order_products_merged_with_new_column 
"C:\Users\Peter\Desktop\Data Analytics documents\Data Immersion\Achievement 4\09-2020 Instacart Basket Analysis"

In [2]:
path = r"C:\Users\Peter\Desktop\Data Analytics documents\Data Immersion\Achievement 4\09-2020 Instacart Basket Analysis"

In [3]:
path

'C:\\Users\\Peter\\Desktop\\Data Analytics documents\\Data Immersion\\Achievement 4\\09-2020 Instacart Basket Analysis'

In [4]:
# imported the orders_products_merged_with_new_column pkl file
df_ords_prods_merge = pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','ords_prods_merged_with_new_column.pkl'))

# Task 1: Aggregating mean

In [5]:
# grouping the departmet_column
df_ords_prods_merge.groupby('product_name')

In [6]:
# Performing statistic(aggregating the order_number column with mean value)
df_ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

froom the above result, i observered that in the subset result, the department(17) has the lowest order_number_mean, while in the entire dataframe the lowest order_number_mean is department(5). While the subset printed only 8 department result, but in the entire dataframe, all the departmet was printed.

# Task 2: Using the loyalty flag we created in exercise part to check the basic statistics of the product prices for each loyalty category

In [7]:
# creating a flag for customers with maximum others
df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [8]:
#  create a flag that assigns a “loyalty” label to a user ID based on its corresponding max order value
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order'] <= 40) & (df_ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [9]:
# performing multiple aggregation 
df_ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                 prices
                   mean  min  max
loyalty_flag
Loyal customer      NaN  1.0  inf
New customer        NaN  1.0  inf
Regular customer    NaN  1.0  inf

# Task 3: Creating a spending flag for each user based on the average price across all their orders

In [10]:
# creating a flag for average price of customers 
df_ords_prods_merge['Average_price'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [11]:
df_ords_prods_merge['Average_price'].head(15)

0     6.367188
1     6.367188
2     6.367188
3     6.367188
4     6.367188
5     6.367188
6     6.367188
7     6.367188
8     6.367188
9     6.367188
10    3.980469
11    3.980469
12    3.980469
13    3.980469
14    3.980469
Name: Average_price, dtype: float16

In [12]:
#  create a flag that assigns a “Average_price” label to a user ID based on its corresponding mean value
df_ords_prods_merge.loc[df_ords_prods_merge['Average_price'] < 10, 'Spender_flag'] = 'Low spender'
df_ords_prods_merge.loc[df_ords_prods_merge['Average_price'] >= 10,'Spender_flag'] = 'High spender'

# Task 4: Creating an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column

In [14]:
# creating a flag for customers with many others
df_ords_prods_merge['median'] = df_ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [15]:
df_ords_prods_merge['median'].head(15)

0     20.5
1     20.5
2     20.5
3     20.5
4     20.5
5     20.5
6     20.5
7     20.5
8     20.5
9     20.5
10    10.0
11    10.0
12    10.0
13    10.0
14    10.0
Name: median, dtype: float16

In [16]:
#  create a flag that assigns a “frequency” label to a user ID based on its corresponding median value
df_ords_prods_merge.loc[df_ords_prods_merge['median'] > 20, 'frequency_flag'] = 'Non-frequent customer'
df_ords_prods_merge.loc[(df_ords_prods_merge['median'] <= 20) & (df_ords_prods_merge['median'] > 10), 'frequency_flag'] = 'Regular customer'
df_ords_prods_merge.loc[df_ords_prods_merge['median'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [18]:
# exporting the df_merged_grouped as Pickle
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merged_with_and_grouped.pkl'))