# Importing libraries

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [ ]:
# Using path method to import the customers csv
"C:\Users\Peter\Desktop\Data Analytics documents\Data Immersion\Achievement 4\09-2020 Instacart Basket Analysis"

In [2]:
path = r"C:\Users\Peter\Desktop\Data Analytics documents\Data Immersion\Achievement 4\09-2020 Instacart Basket Analysis"

In [3]:
path

'C:\\Users\\Peter\\Desktop\\Data Analytics documents\\Data Immersion\\Achievement 4\\09-2020 Instacart Basket Analysis'

In [4]:
df_customers = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'), index_col = False)

# Performing wrangling

In [5]:
df_customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [6]:
df_customers.shape

(206209, 10)

In [7]:
# chaging the column name
df_customers.rename(columns = {'n_dependants' : 'number_of_dependants'}, inplace = True)

In [8]:
df_customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,number_of_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [9]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   user_id               206209 non-null  int64
 1   First Name            194950 non-null  object
 2   Surnam                206209 non-null  object
 3   Gender                206209 non-null  object
 4   STATE                 206209 non-null  object
 5   Age                   206209 non-null  int64
 6   date_joined           206209 non-null  object
 7   number_of_dependants  206209 non-null  int64
 8   fam_status            206209 non-null  object
 9   income                206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

In [10]:
# changing the data type of the user_id to string so that it could be excluded from my analysis
df_customers['user_id'] = df_customers['user_id'].astype('str')

In [11]:
df_customers['user_id'].astype

<bound method NDFrame.astype of 0          26711
1          33890
2          65803
3         125935
4         130797
           ...
206204    168073
206205     49635
206206    135902
206207     81095
206208     80148
Name: user_id, Length: 206209, dtype: object>

# Performing consistency check

In [12]:
# checking for mixed data type
for col in df_customers.columns.tolist():
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_customers[weird]) > 0:
    print (col)

First Name

In [13]:
df_customers['First Name'] = df_customers['First Name'].astype('str')

In [14]:
df_customers['First Name'].astype

<bound method NDFrame.astype of 0          Deborah
1         Patricia
2          Kenneth
3         Michelle
4              Ann
            ...
206204        Lisa
206205      Jeremy
206206       Doris
206207        Rose
206208     Cynthia
Name: First Name, Length: 206209, dtype: object>

In [15]:
# checking for any missing value in df_customers dataframe
df_customers.isnull().sum()

user_id                 0
First Name              0
Surnam                  0
Gender                  0
STATE                   0
Age                     0
date_joined             0
number_of_dependants    0
fam_status              0
income                  0
dtype: int64

In [16]:
# checking for duplicate in the df_customers dataframe
df_customers_dups = df_customers[df_customers.duplicated()]

In [17]:
df_customers_dups

Empty DataFrame
Columns: [user_id, First Name, Surnam, Gender, STATE, Age, date_joined, number_of_dependants, fam_status, income]
Index: []

In [18]:
df_customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,number_of_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [19]:
df_customers.shape

(206209, 10)

In [50]:
# Exporting customers_clean to my prepared data as csv
df_customers.to_csv(os.path.join(path, '02 Data','Prepared Data', 'customers_checked.csv'))

# Combining my customer data with the rest of your prepared Instacart data

In [5]:
# imported the orders_products_merged pkl file
ords_prods_merge = pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','ords_prods_merged_with_and_grouped.pkl'))

In [4]:
# imported the customers_checked csv file
df_customers_checked = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'customers_checked.csv'), index_col = False)

In [22]:
# checking the shape of the imported dataframe
df_customers_checked.shape

(206209, 11)

In [6]:
df_customers_checked.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Unnamed: 0            206209 non-null  int64
 1   user_id               206209 non-null  int64
 2   First Name            194950 non-null  object
 3   Surnam                206209 non-null  object
 4   Gender                206209 non-null  object
 5   STATE                 206209 non-null  object
 6   Age                   206209 non-null  int64
 7   date_joined           206209 non-null  object
 8   number_of_dependants  206209 non-null  int64
 9   fam_status            206209 non-null  object
 10  income                206209 non-null  int64
dtypes: int64(5), object(6)
memory usage: 17.3+ MB

In [25]:
df_customers_checked['number_of_dependants'].max()

3

In [26]:
df_customers_checked['income'].max()

593901

In [27]:
df_customers_checked['Age'].max()

81

In [28]:
df_customers_checked['user_id'].max()

206209

In [7]:
# Change types for df_customers_checked dataframe
df_customers_checked['Unnamed: 0']=df_customers_checked['Unnamed: 0'].astype('int8')
df_customers_checked['user_id']=df_customers_checked['user_id'].astype('int32')
df_customers_checked['Age']=df_customers_checked['Age'].astype('int8')
df_customers_checked['number_of_dependants']=df_customers_checked['number_of_dependants'].astype('int8')
df_customers_checked['income']=df_customers_checked['income'].astype('int32')

In [8]:
df_customers_checked.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Unnamed: 0            206209 non-null  int8
 1   user_id               206209 non-null  int32
 2   First Name            194950 non-null  object
 3   Surnam                206209 non-null  object
 4   Gender                206209 non-null  object
 5   STATE                 206209 non-null  object
 6   Age                   206209 non-null  int8
 7   date_joined           206209 non-null  object
 8   number_of_dependants  206209 non-null  int8
 9   fam_status            206209 non-null  object
 10  income                206209 non-null  int32
dtypes: int32(2), int8(3), object(6)
memory usage: 11.6+ MB

In [9]:
# Merging the df_orders_product_combined with the df_customers_checked
df_all_products_merged = ords_prods_merge.merge(df_customers_checked, on = 'user_id')

In [10]:
# exporting the df_all_products_merged as Pickle
df_all_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'all_products_merged.pkl'))

In [26]:
 df_all_products_merged.shape

(32404859, 33)

# Dropping of some columns in both customers and orders-products data

In [26]:
# dropping some columns in the customers_checked
df_customers_checked.drop(columns = {'Unnamed: 0','First Name','Surnam','Gender','STATE','date_joined','fam_status' }, inplace = True)

In [27]:
df_customers_checked.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 4 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   user_id               206209 non-null  int32
 1   Age                   206209 non-null  int8
 2   number_of_dependants  206209 non-null  int8
 3   income                206209 non-null  int32
dtypes: int32(2), int8(2)
memory usage: 2.0 MB

In [33]:
ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 24 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   order_time_of_day       int8
 5   days_since_prior_order  float16
 6   product_id              int32
 7   add_to_cart_order       int32
 8   reordered               int8
 9   _merge                  category
 10  product_name            object
 11  aisle_id                int8
 12  department_id           int8
 13  prices                  float16
 14  price_range_loc         object
 15  busiest_day             object
 16  busiest_days            object
 17  busiest_period_of_day   object
 18  max_order               int8
 19  loyalty_flag            object
 20  Average_price           float16
 21  Spender_flag            object
 22  median                  float16
 23  frequency_flag          object
dtypes: category(1), float16(4), int32(4), int8(7), object(8)
memory usage: 3.1+ GB

In [34]:
# dropping some columns in the ords_prods_merge 
ords_prods_merge.drop(columns = {'days_since_prior_order','median','product_id','aisle_id','reordered','add_to_cart_order','product_name','_merge' }, inplace = True)

In [49]:
ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 16 columns):
 #   Column                 Dtype
---  ------                 -----
 0   order_id               int32
 1   user_id                int32
 2   order_number           int8
 3   orders_day_of_week     int8
 4   order_time_of_day      int8
 5   department_id          int8
 6   prices                 float16
 7   price_range_loc        object
 8   busiest_day            object
 9   busiest_days           object
 10  busiest_period_of_day  object
 11  max_order              int8
 12  loyalty_flag           object
 13  Average_price          float16
 14  Spender_flag           object
 15  frequency_flag         object
dtypes: float16(2), int32(2), int8(5), object(7)
memory usage: 2.4+ GB

In [50]:
# Merging the df_orders_product_combined with the df_customers_checked
df_all_products_merged_2 = ords_prods_merge.merge(df_customers_checked, on = 'user_id')

In [51]:
# exporting the df_all_products_merged_2 as Pickle
df_all_products_merged_2.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'all_products_merged_2.pkl'))